@* Partial view for duplicate certification warning modal *@
<div class="modal fade" id="certDuplicateModal" tabindex="-1" aria-labelledby="certDuplicateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="certDuplicateModalLabel">Duplicate Certification Assignment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="certDuplicateModalBody">
        <!-- Content set by JS -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning" id="certDuplicateModalConfirmBtn">Confirm Move</button>
      </div>
    </div>
  </div>
</div>
